.chat__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--offwhite);
  padding: 20px 16px;
}

.chat__header {
  padding-bottom: 0;
  z-index: 2;
  position: fixed;
  top: 16px;
  right: 16px;
  left: 16px;
  -webkit-overflow-scrolling: touch;
}

.chat__content {
  flex: 1;
  overflow-y: scroll;
  margin: 40px -5px 46px;
  padding: 0 5px;
}

.back-btn {
    height: 1rem;
    width: 1rem;
}

.back-btn svg {
    fill: var(--gray-light);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 24px;
  border-radius: 100px;
  background-color: var(--white);
  box-shadow: var(--shadow-light);
  text-align: center;
}

.header__container div {
    flex: 1;
}

.header__name {
  font-size: 1.25rem;
  font-weight: 600;
}

.header__status {
  font-size: 0.88rem;
  color: var(--gray-light);
}

.message__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

::-webkit-scrollbar {
    display: none;
}

.message__container:last-child {
    margin-bottom: 1.5rem
}

.message__container:first-child {
    margin-top: 4rem;
}

.message__container--mine {
  align-items: flex-end;
}

.message__container--others {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
}

.message__container--others .message__container--inner {
    margin-left: 0.5rem;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url("/avatar.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar.bot {
    background-image: url("/logo.svg");
}

.message__container--mine + .message__container--others {
  margin-top: 2rem;
}

.message__container--others + .message__container--mine {
  margin-top: 2rem;
}

/* first message in my series */
.message__container--mine .message:first-child {
    border-bottom-right-radius: var(--message-border-radius-decreased);
}

/* middle message in my series */
.message__container--mine .message:not(:first-child):not(:last-child) {
    border-top-right-radius: var(--message-border-radius-decreased);
    border-bottom-right-radius: var(--message-border-radius-decreased);
}
/* last message in my series */
.message__container--mine .message:last-child {
  border-top-right-radius: var(--message-border-radius-decreased);
  border-bottom-right-radius: var(--message-border-radius);
}
 /* only message in my series */
.message__container--mine .message:only-of-type {
    border-radius: var(--message-border-radius);
}

/* first message in other series */
.message__container--others .message:first-child {
    border-bottom-left-radius: var(--message-border-radius-decreased);
}

/* middle message in other series */
.message__container--others .message:not(:first-child):not(:last-child) {
    border-top-left-radius: var(--message-border-radius-decreased);
    border-bottom-left-radius: var(--message-border-radius-decreased);
}

/* last message in other series */
.message__container--others .message:last-child {
  border-top-left-radius: var(--message-border-radius-decreased);
  border-bottom-left-radius: var(--message-border-radius);
}

/* only message in other series */
.message__container--others .message:only-of-type {
   border-radius: var(--message-border-radius);
}

.message {
  padding: 0.5rem 1rem;
  margin: 2px 0;
  border-radius: var(--message-border-radius);
  width: fit-content;
}

.message__container--mine .message {
  background-color: var(--blue);
  color: var(--white);
  border-bottom-right-radius: var(--message-border-radius-decreased);
  text-align: end;
  margin-left: auto;
}

.message__container--others .message {
  background-color: var(--white);
  box-shadow: var(--shadow-light);
  margin-right: auto;
}

.option__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.option {
    padding: 0.5rem 1rem;
    margin: 4px 0.5rem;
    border-radius: var(--message-border-radius);
    background-color: var(--white);
    color: var(--blue);
    box-shadow: var(--shadow-light);
    border: 1px solid var(--blue);
    font-size: 1em;
    user-select: none;
}

.option:focus {
    outline: none;
}

.option.selected {
    background-color: var(--blue);
    color: var(--white);
}

.input__container {
  display: flex;
  background-color: var(--white);
  padding: 4px 4px 4px 24px;
  border-radius: 100px;
  box-shadow: var(--shadow-light);
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  -webkit-overflow-scrolling: touch;
}

.input__input {
  flex: 1;
  font-size: 1rem;
  border: none;
}

.input__input:focus, .input__submit:focus {
  outline: none;
}

.input__submit {
  background-color: var(--light-blue);
  border: none;
  border-radius: 100px;
  padding: 0.75rem;
}

.input__submit svg {
  height: 1rem;
  width: 1rem;
  transform: translateX(-1px)translateY(1px);
}

.input__submit path {
  fill: var(--blue);
}
